body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.error-message {
	color: red;
	font-weight: bold;
}

.under-items {
	margin: 20px;
} 
