<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>ユーザ一覧</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<div><a href="/top-menu">メインメニュー</a></div>
	<div><a href="/user/entry">ユーザ登録</a></div>
	<table>
		<tr>
			<th>操作</th>
			<th>ID</th>
			<th>ユーザ名</th>
			<th>管理者</th>
		</tr>
		<th:block th:each="user : ${users}">
			<tr>
				<td><a href="/user/detail" th:href="@{/user/detail(id=${user.id})}">詳細</a></td>
				<td th:text="${user.id}">999</td>
				<td th:text="${user.name}">ダミー名</td>
				<td th:text="${user.administrator}">xxxx</td>
			</tr>
		</th:block>
	</table>
</body>

</html>